/** @format */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

$fontHeading: "Cinzel", serif;
$fontMain: "Montserrat", sans-serif;
$_primary: #0d4282;
$_secondary: #652386;
$_white: #ffffff;
$_dark: #000000;
